.conferences__pagination {
  text-align: center;
}

.conference {
  height: 250px;
}

.label-list__item {
  margin-right: .2em;
}

.conferences--is-loading {
  opacity: .4;
}

.conference__thumbnail {
  background-color: #f3f3f3;
  background-size: cover;
  background-position: 50% 50%;
  height: 50%;
}

.conference__location {
  margin-top: .7em;
}

.details__banner {
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.details__banner:after {
  position: absolute;
  content: '';
  background: linear-gradient(to bottom, rgba(255,255,255,0) 50%, rgba(168,168,168,0) 67%, rgba(0,0,0,0.51) 100%);
  width: 100%;
  height: 100%;
}

.details__conf-name {
  color: #fff;
  position: absolute;
  bottom: 0;
  margin: 10px;
  z-index: 1;
}
