@import '../variables.scss';

.conference {
  margin-bottom: 1rem;
  max-height: 250px;

  &__link {
    display: block;
    font-size: 0;
    white-space: nowrap;
  }

  &__thumbnail {
    display: inline-block;
    width: 50%;
    max-height: 130px;
    max-width: 350px;
    overflow: hidden;
  }

  &__img {
    background-color: #f3f3f3;
    background-size: cover;
    background-position: 50% 50%;
    padding-bottom: 56%;
  }

  &__meta {
    display: inline-block;
    font-size: $font-size-base;
    vertical-align: top;
  }

  &__name {
    font-size: 2rem;
    padding: 0 1rem;
    margin: 0;
  }
}
