{
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "development": {
        "plugins": ["transform-react-jsx-source"]
    },
    "node": {
      "plugins": [
        [
          "babel-plugin-transform-require-ignore",
          {
            "extensions": [".scss"]
          }
        ]
      ]
    }
  }
}
