{
    "extends": ["airbnb", "plugin:flowtype/recommended"],
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["."]
            }
        }
    },
    "plugins": [
        "flowtype"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "max-len": [1, 80],
        "import/prefer-default-export": 0,
        "no-underscore-dangle": 1
    }
}
